/* Custom CSS for the fade-in effect */
.lazy {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.loaded {
    opacity: 1;
}
/* this is the gothic font*/
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 10000;
  font-style: Bold;
}

/* New styles for the image containers */
.image-container {
    max-width: 90vw; /* This sets the maximum width to 90% of the viewport width */
    height: auto; /* Maintains the aspect ratio */
    margin: 0 auto; /* Centers the container horizontally */
    margin-bottom: 5vw; /* Adds space between images */
}

/* Adjust the image within the container */
.image-container img {
    width: 100%; /* Makes the image fill its container */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes any extra space below the image */
}
